<div class="image-container">
  <%= image_tag("supermom-logo.jpg", :class => "image-one")  %> 
</div>

<div class="my-class"> <%= @title %></div>
  <h4 class="my-class">Take your time when filling in your order form. Your order will be processed immediately after payment.<h4>



<!-- Form which will send a POST request to the current URL -->


<br>
<!-- My Form starts here -->

<form action="/place_order" method="post">
<div class="chocolate-sweets">
    <div>
      <label>First Name:
        <input value="" name="first_name" autocomplete="name">
      </label>
      <label>Last Name:
        <input value="" name="last_name" autocomplete="name">
      </label>
      <label >Email Address:   
        <input value="" type="email" id="email" name="email" autocomplete="name">
      </label>
      <br>
      <label >Phone Number:   
        <input value="" type="phone_number" name="phone_number" autocomplete="number">
      </label>
        <label for="start">Desired Pick up or Delivery Date:</label>
        <input type="date" id="start" name="desired_delivery_date"
        value="<%= @todays_date %>"
        min="<%= @min_date %>" max="<%= @max_date %>">
    </div>
  </div>

  <div class="valentines-day-tins">
    <fieldset class="form-control">      
        <h1>Valentines day Special</h1> 
        <h3>Small Valentines tin (Qty) 
        <input value="" type="number" name="small_tin" min="0" max="100"><br>
        </h3>  
        <div class="image-container"> <%= image_tag("small-tin.jpg", :class => "image-four")  %>  </div>  
        <h3>Large Valentines tin (Qty)  
        <input value="" type="number" name="large_tin" min="0" max="100"><br>
        </h3>           
      <div class="image-container"> <%= image_tag("large-tin.jpg", :class => "image-four")  %>  </div>
  </div>
    <br>

  <fieldset class="form-control">
  <div class="heart-shaped-bombs">
   <h1>Heart Shaped Cocoa Bombs</h1>
   <h3>
    Milk Chocolate (Qty)<input value="hdccp" type="number" name="milk" min="0" max="100"> 
    <br>
    Dark Chocolate (Qty)<input value="dccp" type="number" name="darkk" min="0" max="100"> 
    <br>
    White Chocolate (Qty)<input value="hdcco" type="number" name="white" min="0" max="100"> 
    <br>
    Caramel Cream (Qty)<input value="dcco" type="number" name="caramel" min="0" max="100"> 
    <br>
    French Vanilla (Qty)<input value="hdccrk" type="number" name="French" min="0" max="100"> 
    <br>
    Cookies and Cream (Qty)<input value="dccrk" type="number" name="cookie" min="0" max="100"> 
    <br> 
    </h3>
    <br>
    <div class="image-container"> <%= image_tag("heart-shaped-coco-bombs.jpg", :class => "image-two") %> </div>
  </div>

  <div class="classic-treats">
    <fieldset class="form-control">      
        <h1>Classic Strawberry Box or Bouquet</h1> 
        <h3>Classic Strawberry Box (Qty) 
        <input value="" type="number" name="small_tin" min="0" max="100"><br> 
        </h3>
        <div class="image-container"> <%= image_tag("classic-strawberry-box.jpg", :class => "image-four")  %>  </div>  
        <h3>Bouquet of Strawberries (Qty)  
        <input value="" type="number" name="large_tin" min="0" max="100"><br> 
        </h3>           
      <div class="image-container"> <%= image_tag("supermom-bouquet.jpg", :class => "image-four")  %>  </div>
  </div>    
    <br>

  <fieldset class="form-control">
  <div class="chocolate-sweets">
   <h1>Chocolate covered sweets</h1>
   <h3>
    Half Dozen Chocolate Covered Pretzels (Qty)<input value="hdccp" type="number" name="hdccp" min="0" max="100"> 
    <br>
    Dozen Chocolate Covered Pretzels (Qty)<input value="dccp" type="number" name="dccp" min="0" max="100"> 
    <br>
    Half Dozen Chocolate Covered Oreos (Qty)<input value="hdcco" type="number" name="hdcco" min="0" max="100"> 
    <br>
    Dozen Chocolate Covered Oreos (Qty)<input value="dcco" type="number" name="dcco" min="0" max="100"> 
    <br>
    Half Dozen Chocolate Covered Rice Krispies (Qty)<input value="hdccrk" type="number" name="hdccrk" min="0" max="100"> 
    <br>
    Dozen Chocolate Covered Rice Krispies (Qty)<input value="dccrk" type="number" name="dccrk" min="0" max="100"> 
    <br>
    1 Sweet treats set (Holiday Themed) (Qty)<input value="" type="number" name="onests" min="0" max="100"> 
    <br>
    5 Sweet treats set (Holiday Themed) (Qty)<input value="" type="number" name="fivests" min="0" max="100"> 
    <br>
    </h3>
    <div class="image-container"> <%= image_tag("chocolate-assorted-sweets.jpg", :class => "image-two") %> </div>
  </div>
   <div class="flan-text">
    <fieldset class="form-control">      
      
        <h1>Choose your preferred Flan</h1>
        <h3>Traditional Flan (Qty)  
        <input value="0" type="number" name="traditional_flan" min="0" max="100">
        <br>
        Queso Flan (Qty)  
        <input value="0" type="number" name="queso_flan" min="0" max="100">
        <br>  
        Coconut Flan (Qty)  
        <input value="0" type="number" name="coconut_flan" min="0" max="100">
        <br>   
        Pumpkin Flan (Qty)  
        <input value="0" placeholder="0" type="number" name="pumpkin_flan" min="0" max="100">
        <br>  
        </h3>         
        <div class="image-container"> <%= image_tag("heart-shape-flan.jpg", :class => "image-three")  %> 
        </div>

    </fieldset>
    </div>
    <br>
    <div class="sofrito">
    <fieldset class="form-control">      
        <legend><h1>Puerto Rican style Sofrito</h1></legend> 
        <label for="small_sofrito">Small sofrito (16oz) (Qty)</label>  
        <input value="" type="number" name="small_sofrito" min="0" max="100"><br>   
        <label for="large_sofrito">Large sofrito (32oz) (Qty)</label>  
        <input value="" type="number" name="large_sofrito" min="0" max="100"><br>            
      <div class="image-container"> <%= image_tag("puerto-rican-sofrito", :class => "image-four")  %>  </div>
    <br>
    <div class="order-details"> 
      Message/Promo code: 
      <textarea rows="4" cols="50" name="comment">
      </textarea>
    </div>

    <br>
    <input type="submit" value="Submit now" /> 
   <!-- My Form ends here -->

  </fieldset>
  </div>
  </fieldset>
    </div>
</form>
