<div class="image-container">
  <%= image_tag("supermom-logo.jpg", :class => "image-one")  %> 
</div>

<div class="my-class"> <%= @title %></div>
  <h4 class="my-class">Take your time when filling in your order form. Your order will be processed immediately after payment.<h4>



<!-- Form which will send a POST request to the current URL -->


<br>
<!-- My Form starts here -->
<div class="chocolate-sweets">
<form action="/place_order" method="post">
  <div class="user-info">
    <label>First Name:
      <input value="" name="first_name" autocomplete="name">
    </label>
    <label>Last Name:
      <input value="" name="last_name" autocomplete="name">
    </label>
    <label >Email Address:   
      <input value="" type="email" id="email" name="email" autocomplete="name">
    </label>
    <label >Phone Number:   
      <input value="" type="phone_number" name="phone_number" autocomplete="number">
    </label>
  </div>
  <fieldset class="form-control">
   <legend><h1>Chocolate covered sweets</h1></legend>
    <input value="hdccp" type="checkbox" name="hdccp"> Half Dozen Chocolate Covered Pretzels
    <br>
    <input value="dccp" type="checkbox" name="dccp"> Dozen Chocolate Covered Pretzels
    <br>
    <input value="hdcco" type="checkbox" name="hdcco"> Half Dozen Chocolate Covered Oreos
    <br>
    <input value="dcco" type="checkbox" name="dcco"> Dozen Chocolate Covered Oreos
    <br>
    <input value="hdccrk" type="checkbox" name="hdccrk"> Half Dozen Chocolate Covered Rice Krispies
    <br>
    <input value="dccrk" type="checkbox" name="dccrk"> Dozen Chocolate Covered Rice Krispies
    <br>
    <input value="onests" type="checkbox" name="onests"> 1 Sweet treats set (Holiday Themed)
    <br>
    <input value="fivests" type="checkbox" name="fivests"> 5 Sweet treats set (Holiday Themed)
    <br>
    <div class="image-container"> <%= image_tag("assortedsweets.jpg", :class => "image-two") %> </div>

   <div class="flan-text">
    <fieldset class="form-control">      
      
        <legend><h1>Choose your preferred Flan</h1></legend>      
        <input value="tradional_flan" type="checkbox" name="tradional_flan">Traditional Flan
        <div class="form-group">
          <label> Qty
            <select class="form-control" name="traditional_flan_quantity">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </label>
      </div>
        <br>      
        <input value="coconut_flan" type="checkbox" name="coconut_flan">Coconut Flan (contains coconut flakes)
        <div class="form-group">
          <label> Qty
            <select class="form-control" name="coconut_flan_quantity">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </label>
        </div>
        <br>      
        <input value="pumpkin_flan" type="checkbox" name="pumpkin_flan">Pumpkin Flan (Made with real pumpkin)
        <div class="form-group">
          <label> Qty
            <select class="form-control" name="pumpkin_flan_quantity">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </label>
        </div>
        <br>      
        <br>      
        <div class="image-container"> <%= image_tag("flan.jpg", :class => "image-three")  %> 
        </div>

    </fieldset>
    </div>
    <br>
    <div class="sofrito">
    <fieldset class="form-control">      
        <legend><h1>Sofrito</h1></legend>      
        <input value="1" type="checkbox" name="small_sofrito">Small Sofrito (16oz)<br>      
        <input value="1" type="checkbox" name="large_sofrito">Large Sofrito (32oz)<br>            
      <div class="image-container"> <%= image_tag("sofrito.jpg", :class => "image-four")  %>  </div>
   <%# <img src="assets/assortedsweets.jpg" class="img-rounded" height="300" width="250">  %>
   <br>
      <label for="start">Desired Delivery Date:</label>
      <input type="date" id="start" name="desired_delivery_date"
       value="<%= @todays_date %>"
       min="<%= @min_date %>" max="<%= @max_date %>">
    <input type="submit" value="Submit now" /> 
   <!-- My Form ends here -->

  </fieldset>
  </div>
    
 
  
  </fieldset>
    </div>
</form>
