<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new order from !</h1>
    <p>
    Order details<br>
    --------------------------
    </p>
    <%#= binding.pry %>
    <p>Client Name: <%= @order["first_name"] %>
    <%= @order["last_name"] %></p>
    <p>Client Email: <%= @order["email"] %></p>
    <p>Client Phone: <%= @order["phone_number"] %></p>
    <p>Desired Delivery Date: <%= @order["desired_delivery_date"].to_date.strftime("%b %d %Y")  %></p>

    <%# <%= binding.pry %>
    <p> Order: <%= @abbreviated_names[@order] %></p>
 
    <% @order.each do |key, value| %>
      <% if @abbreviated_names[key] && !value.empty? && value != "0" %>
        <li style="margin-left:25px">
          <%= "#{@abbreviated_names[key]} - #{value}" %>
        </li>
      <% end %>
    <% end %>
    <p><%= @order["Order_total"] %></p>
    
    <p>Message from client:</p>
     <p style="margin-left:25px"><%= @order["comment"] %></p>
  </body>
</html>